<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add User</title>
</head>
<body>
    <form action="/update/{{user.id}}/" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        姓名：<input type="text" value="{{user.name}}" name="name"/><br>
        年龄：<input type="text" value="{{user.age}}" name="age"/><br>
        性别：<label><input type="radio" value="1" name="sex" {% if user.sex == 1 %} checked {% endif %}/>男</label>
            <label><input type="radio" value="0" name="sex" {% if user.sex == 0 %} checked {% endif %}/>女</label>
        <input type="submit" value="提交">
    </form>

</body>
</html>